:root {
  --txtColor: black;
}

pre{
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px ;
    margin-left: 0px ;
}
.column {
		  float: left;
		  width: 50%;
		}

		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}
.c1 { 
	background: #cbf078; 
}
.c2 { 
	background: #f8f398; 
}
.c3 { 
	background: #f1b963; 
}
.c4 { 
	background: #5be7a9; 
}
.c5{ 
	background: #ffaaf0; 
}	
.c6 { 
	background: #d9f2ff; 
}
.c7 { 
	background: #a5bdfd; 
}
.c8 { 
	background: #40a8c4; 
}
.c9 { 
	background: #ecff20; 
}
.c10 { 
	background: #ff9d7b; 
}
.c12 { 
	background: #ff5001; 
}
.c13 { 
	background: #c2c57f; 
}
.c14 { 
	background: #fcc88a; 
}
.c15 { 
	background: #ff6898; 
}
.c16 { 
	background: #40a798; 
}
.c17 { 
	background: #f5e1da; 
}
.c18 { 
	background: #b6cdbd; 
}
.c19 { 
	background: #ddeedf; 
}
	